<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，是mapper接口的全路径-->
<mapper namespace="com.wangpan.mapper.SiteInfoMapper">

    <!--resultMap – 是最复杂也是最强大的元素，用来描述如何从数据库结果集中来加载对象-->
    <resultMap id="userResultMap" type="com.wangpan.entity.po.SiteInfo">
        <!-- <id property="name" column="name"></id>
        <id property="id" column="id"></id>
        <id property="password" column="password"></id>
        <id property="communityName" column="community_name"></id>
        <id property="createdTime" column="created_time"></id>
        <id property="desc" column="desc"></id>
        <id property="userType" column="user_type"></id> -->
    </resultMap>

    <!--sql – 可被其他语句引用的可重用语句块-->
    <sql id="colums">
        id,site_name, longitude, latitude, is_available
    </sql>

    <select id="findAll" resultMap="userResultMap">
        select
        <include refid="colums" />
        from  siteInfo
    </select>
</mapper>