<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，是mapper接口的全路径-->
<mapper namespace="com.wangpan.s.carpooling.mapper.CarpoolingMapper">

    <!--resultMap – 是最复杂也是最强大的元素，用来描述如何从数据库结果集中来加载对象-->
    <resultMap id="carPoolingResultMap" type="com.wangpan.s.carpooling.entity.po.Carpooling">
        <id property="id" column="id"></id>
        <id property="car_pooling_name" column="carPoolingName"></id>
        <id property="create_time" column="createTime"></id>
        <id property="create_by_id" column="createById"></id>
        <id property="start_site_id" column="startSiteId"></id>
        <id property="end_site_id" column="endSiteId"></id>
    </resultMap>

    <!--sql – 可被其他语句引用的可重用语句块-->
    <sql id="colums">
        id,car_pooling_name, create_time, create_by_id, start_site_id, end_site_id
    </sql>

    <select id="getAllCarpooling" resultMap="carPoolingResultMap">
        select
        <include refid="colums" />
        from  carpooling
    </select>
     <insert id="insert" parameterType="com.wangpan.s.carpooling.entity.po.Carpooling" >
       INSERT INTO
            carpooling
            (car_pooling_name, create_by_id, start_site_id, end_site_id)
        VALUES
            (#{carPoolingName}, #{createById}, #{startSiteId}, #{endSiteId})
    </insert>
</mapper>